<div class="card mb-3" id="<%= dom_id(message) %>">
  <div class="card-body">
    <p>
      <%= message.content %>
    </p>

    <div>
      <%= link_to "[edit]", edit_message_path(message), data: {remote: true, type: "json"} %>
      <%= link_to "[delete]", message, data: {remote: true, type: "json", method: "DELETE", confirm: "Are you sure?"} %>
    </div>
  </div>
</div>
